In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('insurance.csv')

In [48]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [49]:
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

#Manual encoding

##Label encoding

In [50]:
categorical_cols = ['sex', 'smoker', 'region']

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
le = LabelEncoder()

In [53]:
df[categorical_cols] = df[categorical_cols].apply(lambda col: 
le.fit_transform(col))

In [54]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

#One hot encoding

In [55]:
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [56]:
categorical_cols = ['sex', 'smoker', 'region']

In [57]:
df2 = pd.get_dummies(df2, columns = categorical_cols)

In [58]:
df2.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

#Ordinal encoding

In [59]:
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [60]:
from sklearn.preprocessing import OrdinalEncoder

In [61]:
genders = df3.sex.unique()

In [62]:
genders

array(['female', 'male'], dtype=object)

In [63]:
ordinal = OrdinalEncoder(categories=[genders])

In [64]:
ordinal

OrdinalEncoder(categories=[array(['female', 'male'], dtype=object)])

In [65]:
encoded = ordinal.fit_transform(df3[['sex']])

In [66]:
encoded

array([[0.],
       [1.],
       [1.],
       ...,
       [0.],
       [0.],
       [0.]])

In [67]:
df3['sex'] = pd.DataFrame(encoded, columns=['sex'])

In [68]:
df3.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

In [69]:
smok = df3.smoker.unique()

In [70]:
ordinal = OrdinalEncoder(categories=[smok])

In [71]:
ordinal

OrdinalEncoder(categories=[array(['yes', 'no'], dtype=object)])

In [72]:
encoded = ordinal.fit_transform(df3[['smoker']])

In [73]:
encoded

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [0.]])

In [74]:
df3['smoker'] = pd.DataFrame(encoded, columns=['smoker'])
df3.head()

   age  sex     bmi  children  smoker     region      charges
0   19  0.0  27.900         0     0.0  southwest  16884.92400
1   18  1.0  33.770         1     1.0  southeast   1725.55230
2   28  1.0  33.000         3     1.0  southeast   4449.46200
3   33  1.0  22.705         0     1.0  northwest  21984.47061
4   32  1.0  28.880         0     1.0  northwest   3866.85520

In [75]:
reg = df3.region.unique()

In [76]:
ordinal = OrdinalEncoder(categories=[reg])

In [77]:
ordinal

OrdinalEncoder(categories=[array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)])

In [78]:
encoded = ordinal.fit_transform(df3[['region']])

In [79]:
df3['region'] = pd.DataFrame(encoded, columns=['region'])
df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520

#Encoding using for loop

#Label encoding

In [80]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [81]:
label_encoders = {}
categorical_columns = ['sex', 'smoker', 'region']  

for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    df4[column] = label_encoders[column].fit_transform(df4[column])

In [82]:
df4.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520